body {
  background-color: #fafafa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(214, 214, 214);
}


section > img{
  width: 10rem
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}
section{
  margin-right: 50px;
  margin-left: 50px;
}
.nav-bar{
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(26, 147, 94);
}

.nav-bar-routes{
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

.theme-button{
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid black;
  width: 9rem;
  height: 2.5rem;
  background-color: rgb(79, 61, 212);
}

.theme-button:hover{
  background-color: rgb(234, 219, 61);
  cursor: pointer;

}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(146, 176, 22);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem 0rem;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 40px;
  margin-top: 2rem;
}

.footer{
  background-color: rgb(26, 147, 94);
  width: 100vw;
  bottom: 0;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  gap: 0.5rem;
  margin: 0 auto;
}

.button-form {
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(79, 61, 212);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5%;
}

.button-form:hover {
  background-color: rgb(234, 219, 61);
  cursor: pointer;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover{
  border: 0.5px solid rgb(132, 218, 210);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}
.favButton{
  border-radius: 15px;
  background-color: rgb(192, 192, 192);
}

.favButton:hover{
  background-color: rgb(246, 162, 162);
  transition: background-color 0.5s;
}

.favButton:active{
  background-color: rgb(252, 81, 81);
}

.main{
  width: 100%;
}

.contact {
  display: flex;
  justify-content: center;
}




